.post__item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    max-width: 500px;
    margin-top: 15px;
    border: rgb(138, 138, 201) 2px solid;
    border-radius: 10px;
   img {
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
   } 
   &_info {
    display: flex;
    flex-direction: column;
    gap: 50px;
   }

   &_message {
    font-size: 20px;

   }
}