@mixin inputStyle {
	width: 30%;
	height: 42px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: inherit;
	font-family: inherit;
	padding-right: 15px;
	padding-left: 15px;
	&::placeholder {
		color: rgb(175, 175, 175);
	}
	&:focus {
		border-color: rgb(68, 176, 255);
	}
  }

.formRow {
	margin-bottom: 20px;
	>label {
		display: block;
		margin-bottom: 6px;
	}
}
.input[type="text"] {
	@include inputStyle;
}

.input[type="email"], .input[type="password"] {
	@include inputStyle;
}

.errorPasswordInput {
	@include inputStyle;
	border: red 2px solid;
}

.errorInput{
	@include inputStyle;
	border: red 2px solid;

}
.errorBlock {
	color: red;
}

.btn {
	width: 100%;
	height: 42px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: inherit;
	font-family: inherit;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	width: auto;
	border: 0;
	background-color: #eee;
	cursor: pointer;
}
.textarea {
	width: 100%;
	height: 42px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: inherit;
	font-family: inherit;
	padding-right: 15px;
	padding-left: 15px;
	height: 60px;
	min-height: 42px;
	max-height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	resize: vertical;
	&::placeholder {
		color: rgb(175, 175, 175);
	}
	&:focus {
		border-color: rgb(68, 176, 255);
	}
}

.button[type="submit"] {
	color: #fff;
	background-color: rgb(68, 176, 255);
	margin-left: 10px;
}
