.app {
  display: grid;
  grid-template-areas:
  "header header header header header header header"
  "nav content content content content content content"
  "nav content content content content content content";
  border-radius: 10px;
}

.content {
  grid-area: content;
}